/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.site-content{
	display:flex;
	flex: wrap;
}


.content-area {
	width: 68%;
    border-right: 1px solid #e1e1e1;}
//	padding-top: 3rem;
//	padding-right: 3.5rem;
//



.content-about {}
	
//	padding-top: 3rem;
//	padding-right: 3.5rem;
//

.content-front-page{

}
.content-archive-products{

}
.content-products{

}
.content-archives{
	
}
.content-wrapper{
	display:flex;
}