/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}
.content-area {
    width: 800px;
    margin-left: 70px;
    padding-top: 80px;
    border-right: 1px solid #e1e1e1 ;
}
