

.main-picture {
	height: 100vh;
	background: url("../../images/logos/inhabitent-logo-full.svg") no-repeat center,
	  linear-gradient(
	  rgba(0,0,0, 0.5) 0%,
	  rgba(0,0,0, 0.5) 100%),
		url("../../images/home-hero.jpg") no-repeat center top;
		background-size: 280px, cover, 100%;
}
.site-header{
z-index: 1;
position:absolute;
width:100%;
}
.header-logo img {
	width: 50px;
	height: 33 px;

}