/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}


/* Search widget. */

.widget_search .search-submit {
	display: none;
}

.widget-area {
	width: 32%;
	padding-top: 7rem;
	padding-right: 5rem;
	padding-left: 5rem;
	a {
		text-decoration: none;
		color: #248A83;
	}
	.day {
		font-weight: bold;
	}
	i {
		padding-right: 0.5rem;
	}
	li{
		list-style:none;
       }
	   ul{
		    padding-left:0px;
		margin-left:0px;
	   }


}

.widget-title {
	text-transform: uppercase;
	
}